@import '@csstools/normalize.css';
@import './variables.css';
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Titillium+Web:400,700');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300&display=swap');
/* @import-normalize; */

:global(body) {
  /* font-family: 'Titillium Web', Arial, Sans-Serif; */
  /* font-family: 'Zen Kurenaido', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size-base);
}

.wrapper {
  margin: auto;
  padding: 8px;

  h1 {
    font-size: var(--font-size-h1);
  }
}

@media screen and (min-width: 400px) {
  .wrapper {
    max-width: 100%;
    width: 768px;
    padding: 0px;
  }
}

.reactLogo {
  height: 48px;
  vertical-align: middle;
  width: 48px;
}
